html, body, .goose {
  padding:0;
  margin:0;
  height:100%;
  overflow:hidden;
}


.navbar{
	margin-bottom: 0;
}

.input-group input {
	height:3em;
}

.input-group-addon {
	min-width:50px;
	font-size:125%;
	padding:0.5em;
}

.split-container {
	display:table;
	height:100%;
	max-height:100%;
	width:100%;
}

.split-container .cell {
	display:table-cell;
	vertical-align:middle;
	height:100%;
	padding:0 10px;
}

.nopad {
	padding:0 !important;
}

.goose .etiquette {
	height:100%;
}

@media all and (max-width:1024px) {

	.cell.left, .cell.right {
		width:25%;
	}
	.cell.middle {
		width:50%;
	}
}

@media all and (min-width:1025px) {

	.cell.left, .cell.right {
		width:15%;
	}
	.cell.middle {
		width:70%;
	}
}

.one-quarter {
	width:25%;
}

.one-third {
	width:33.3%;
}

.one-half {
	width:50%;
}

.three-quarters {
	width:75%;
}

.hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.goose {
	position:relative;
	width:100%;
	height:100%;
}

.goose .bar {
	font-size:2.5vmin;
}

.goose .bar a {
	color:#fff;
}

.goose .bar a.big {
	/*display:inline-block;*/
	width:100%;
	height:100%;
}

.goose .topbar {
	position:absolute;
	top:0;
	right:0;
	bottom:90%;
	left:0;
	background:#000;
	color:#fff;
}

.goose .bar img {
	max-height:100%;
	max-width:100%;
	height:75%;
	/*max-width:100%;*/
	/*max-height:90%;*/
}

.ie11 .bar img {
	height:auto;
}



.goose .bar a:hover {
	/*background:#555;*/
	text-decoration:none;
}

.goose .bottombar {
	position:absolute;
	top:90%;
	right:0;
	bottom:0;
	left:0;
	background:#f4c430;
	/*border-top:1em double #000;*/
}

.goose .map {
	position:absolute;
	top:10%;
	right:0;
	bottom:10%;
	left:0;
}

.goose .map .btns {
	position:absolute;
	width:25%;
	min-width:8em;
	max-width:200px;
	z-index:2;
	top:60px;
	right:10px;
}

.goose .map .alert{
  margin-bottom: 0px;
}

.goose .map #moreInfo {
    position:absolute;
    bottom: 10px;
    left: 10px;
    z-index:2;
    font-size: 50px;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    color:#f00;
}

.goose .btn-primary {
	background:#f4c430;
	color:#000;
}

.goose .carousel {
	width:100%;
	/*height:100%;*/
	overflow:hidden;
}

.goose .carousel .carousel-inner {
	overflow:hidden;
	width:100%;
	/*height:100%;*/
}

.goose .carousel .next, .goose .carousel .prev {
}

.goose #carouselSlides {
	width:400px;
}

.goose .carousel .item {
	overflow:hidden;
	width:100%;
	/*height:100%;*/
	text-align:center;
}

.goose .carousel .item img {
	display:inline;
	max-width:100%;
	max-height:100%;
}

.goose .carousel .item .item-inner {
	display:table;
	width:100%;
	height:100%;
}

.goose .carousel .item .item-inner div {
	display:table-cell;
	padding:0 7%;
	width:100%;
	height:100%;
	vertical-align:middle;
}

.goose .carousel-control {
	width:5%;
}

.goose .carousel-control span {
	margin-top:-0.4em;
}

.goose .modal-content {
	border-radius:15px;
}

.goose .modal-header {
	background:#f4c430;
	color:#000;
	border-radius:15px 15px 0 0;
}

.goose .modal-footer {
	background:#000;
	color:#fff;
	border-radius:0 0 15px 15px;
}

.goose table th {
	text-align:right;
	width:25%;
}
